#debug {
    color: #ffffff;
    font-size: 8px;
    background: rgba(0, 0, 0, 0.5);
}

#debug>p {
    position: relative;
    margin: 3px;
}

#debug>p>span {
    position: absolute;
    right:0;
}

#debug>p:hover {
    background: red;
    cursor: pointer;
}

#debug>p:hover>span {
    background: blue;
}